@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    html {
        --scrollbar-bg-color: #f1f1f1;
        --scrollbar-thumb-color: #888;
        --scrollbar-thumb-hover-color: #555;

        @apply sm:overflow-hidden bg-slate-100;
    }

    html.dark {
        --scrollbar-bg-color: #1F2937;
        --scrollbar-thumb-color: #4B5563;
        --scrollbar-thumb-hover-color: #9CA3AF;

        @apply bg-slate-800 sm:bg-slate-700;
    }

    /* width */
    ::-webkit-scrollbar {
        width: 4px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: var(--scrollbar-bg-color);
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: var(--scrollbar-thumb-color);
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: var(--scrollbar-thumb-hover-color);
    }

    body {
        @apply bg-slate-100 dark:bg-slate-700 text-white;
    }
}

@layer components {

    .point-bg {
        background-image: radial-gradient(theme('colors.gray.200') 2px, transparent 0);
        background-size: 20px 20px;
    }

    html.dark .point-bg {
        background-image: radial-gradient(theme('colors.gray.600') 2px, transparent 0);
    }

    .editor-font {
        font-family: "Nunito", "Kalpurush", sans-serif;
        font-weight: 400;
    }

    .tiptap p.is-editor-empty:first-child::before {
        content: attr(data-placeholder);

        @apply text-gray-400 dark:text-gray-500 float-left h-0 pointer-events-none;
    }
}