@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-white dark:bg-slate-700 text-white;
    }

    .App {
        background-image: radial-gradient(theme('colors.gray.200') 2px, transparent 0);
        @apply h-screen overflow-hidden bg-20;
    }

    html.dark .App {
        background-image: radial-gradient(theme('colors.gray.600') 2px, transparent 0);
    }

    .editor-font {
        font-family: "Nunito", "Kalpurush", sans-serif;
        font-weight: 400;
    }
}